@import '../abstract/reset';
@import '../abstract/variaveis';

#about-container{
    height: 78vh;
    justify-content: center;

    .section-title{
        @include titulos;
    }

    #about-description{
       @include texto-geral;
       margin: 7vh 30vw 7vh 7vw;
    }

    #sidebar{
        position: absolute;
        right: 0;
        top: 8vh;
        height: 78vh;
        width: 25vw;
        background-color: $cor-secundaria;
        text-align: center;

        #img-profile{
            margin-top: 7vh;
            position:relative;
            margin-left: auto;
            margin-right: auto;
            width: 35vh;
            border-radius: 3%;
            height: auto;
        }
        .nathalia{
            @include texto-geral;
            margin: 7vh 7vw 7vh 7vw;
            color: $cor-terciaria;
        }

    }

}