@import '../abstract/mediaqueries';
@import '../abstract/variaveis';

#about-container{
    display: flex;
    height: auto;
    flex-direction: column;
    padding-bottom: 5vh;
    //alterar ordem da img

    #about-description{
       @include texto-geral;
       margin: 5vh 30vw 7vh 7vw;
    }

    #sidebar{
        position: absolute;
        right: 0;
        top: 8vh;
        height: 96vh; /*alterar no mq*/
        width: 25vw;
        background-color: $cor-secundaria;
        text-align: center;
        
        @include for-phone-only {    
           position: relative;
           width: auto;
           height: auto;
        }

        #img-profile{
            margin-top: 7vh;
            position:relative;
            margin-left: auto;
            margin-right: auto;
            width: 35vh;
            border-radius: 3%;
            height: auto;
        }

        .nathalia{
            @include texto-geral;
            margin: 7vh 7vw 7vh 7vw;
            color: $cor-terciaria;
        }

    }
}
