@import '../abstract/mediaqueries';
@import '../abstract/variaveis';

#about-container{
    display: flex;
    height: 80;
    flex-direction: column;
    padding-bottom: 5vh;
    
    &:nth-child(4){
        @include for-phone-only{
            order: 1;
        }
    }

    @include for-phone-only{
        display: block;
        padding-bottom: 0;
    }

    #about-description{
       @include texto-geral;
       margin: 5vh 30vw 7vh 7vw;
    }

    #sidebar{
        
        position: absolute;
        right: 0;
        top: 88vh;
        height: 95.6vh; 
        width: 25vw;
        background-color: $cor-secundaria;
        text-align: center;

        @include for-tablet{    
            position: static;
            overflow: hidden;
            width: auto;
            height: auto;
        }
        
        @include for-phone-only {    
           position: static;
           overflow: hidden;
           width: auto;
           height: auto;
        }

        
        #img-profile{
            margin-top: 7vh;
            position:relative;
            margin-left: auto;
            margin-right: auto;
            width: 35vh;
            border-radius: 3%;
            height: auto;
            &:hover{
                cursor: pointer;
                opacity: 0.9;
            }
        }

        .nathalia{
            @include texto-geral;
            margin: 7vh 7vw 7vh 7vw;
            color: $cor-terciaria;
        }

    }
}
