@import '../abstract/reset.scss';
@import '../abstract/variaveis';

footer{
    background-color: $cor-principal;
    height: 12vh;
    margin:0;
    text-align: center;
    color: white;

    p#developer{
        padding-top: 2vh;
        color: white;
        font-family: 'Quicksand';
        font-size: $tamanho-do-texto / 3;
        padding-bottom: 0;

        a{
            text-decoration: none;
            color: $cor-quarternaria;
            &:hover{
                letter-spacing: 0.1em;
            }   
        }
    }
    p#year{
        font-weight: 100;
        padding-top: 1vh;
    }

   
  

   
}