@import '../abstract/reset';
@import '../abstract/variaveis';

footer{
    position: static;
    background-color: $cor-principal;
    height: 20vh;
    margin:0;
    text-align: center;
    color: white;

    p#developer{
        padding-top: 8vh;
        color: white;
        font-family: 'Quicksand';
        font-size: calc($tamanho-do-texto / 2.5);
        margin-bottom: 2vh;

        a{
            text-decoration: none;
            color: $cor-quarternaria;
            &:hover{
                letter-spacing: 0.1em;
            }   
        }
    }
    p#year{
        font-family: 'Quicksand';
        font-weight: 100;
        font-size: 11pt;
    }

   
  

   
}