@import '../abstract/reset';
@import '../abstract/variaveis';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


@mixin texto-nav(){
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $tamanho-do-texto / 2;
    font-weight: 300;
    font-family: 'Quicksand';
    &:hover{
       color: $cor-terciaria;
    }
}

.top-nav{
    background-color: $cor-principal;
    height: 8vh;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .brand{
        @include texto-nav;
        margin-left: -30vw;
    }

    nav{
        text-align: center;
            
        ul{  
            display: flex;
            li{
                padding-left: 3vw;
                list-style: none;
                color: white;
                a{
                    @include texto-nav;
                    font-size: $tamanho-do-texto / 2.6;
                }
            }

        }
    }
}

