//cores
$cor-principal: #3C6255;
$cor-secundaria: #61876e;
$cor-terciaria: #A6BB8D;
$cor-quarternaria: #dce677;

//fontes
$tamanho-do-texto: 3rem;
@mixin reset(){
    padding: 0;
    margin:0;
    overflow-x: hidden;
}

@mixin texto-geral(){
    font-size: $tamanho-do-texto / 2;
    font-family: 'Quicksand';
    letter-spacing: 1pt;
    align-items: center;
}

@mixin titulos(){
    font-size: $tamanho-do-texto /  1.5;
    font-weight: 500;
    color: black;
    font-family: 'Quicksand';
    letter-spacing: 2px;
    margin-left: 7vw;
    margin-top: 15vh;
    padding: 0.5rem;
    border-left: $cor-quarternaria solid 3px;
}

@mixin btn($cor-fundo, $cor-hover){
    
    width: 150px;
    height: 40px;
    padding: 1vh;
    background-color: $cor-fundo;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    &:hover{
        color: white;
        transition: 0.4s;
        background-color: $cor-hover;
        border: 1px solid rgb(255, 255, 255);
    }

    a{
        font-weight: 300;
        color: black;
        text-decoration: none;
        font-size: 12pt;
        &:hover{
          color: white;
        }
    }
}