@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#about-container {
  height: 100vh;
  justify-content: center;
}
#about-container #about-description {
  font-size: 1.5rem;
  font-family: "Quicksand";
  letter-spacing: 1pt;
  align-items: center;
  margin: 5vh 30vw 7vh 7vw;
}
#about-container #sidebar {
  position: absolute;
  right: 0;
  top: 8vh;
  height: 100vh;
  width: 25vw;
  background-color: #61876e;
  text-align: center;
}
#about-container #sidebar #img-profile {
  margin-top: 7vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 35vh;
  border-radius: 3%;
  height: auto;
}
#about-container #sidebar .nathalia {
  font-size: 1.5rem;
  font-family: "Quicksand";
  letter-spacing: 1pt;
  align-items: center;
  margin: 7vh 7vw 7vh 7vw;
  color: #A6BB8D;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

footer {
  background-color: #3C6255;
  height: 20vh;
  margin: 0;
  text-align: center;
  color: white;
}
footer p#developer {
  padding-top: 8vh;
  color: white;
  font-family: "Quicksand";
  font-size: 1rem;
  margin-bottom: 2vh;
}
footer p#developer a {
  text-decoration: none;
  color: #dce677;
}
footer p#developer a:hover {
  letter-spacing: 0.1em;
}
footer p#year {
  font-weight: 100;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.top-nav {
  background-color: #3C6255;
  height: 8vh;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-nav .brand {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Quicksand";
  margin-left: -30vw;
}
.top-nav .brand:hover {
  color: #A6BB8D;
}
.top-nav nav {
  text-align: center;
}
.top-nav nav ul {
  display: flex;
}
.top-nav nav ul li {
  padding-left: 3vw;
  list-style: none;
  color: white;
}
.top-nav nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Quicksand";
  font-size: 1.1538461538rem;
}
.top-nav nav ul li a:hover {
  color: #A6BB8D;
}
.top-nav nav ul li:hover {
  letter-spacing: 2px;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#img-container #logo-home {
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h2.section-title {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  font-family: "Quicksand";
  letter-spacing: 2px;
  margin-left: 7vw;
  margin-top: 15vh;
  padding: 0.5rem;
  border-left: #dce677 solid 3px;
}

.projects-container { /*transformando em grid container*/
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin: 5rem 2rem;
}

.row {
  flex-wrap: wrap; /*para não "sanfonar ao diminuir a tela"*/
  width: 320px;
  overflow: hidden; /*impede que a img transborde com o hover*/
}

/*tamanho da miniatura no grid*/
.row .small_img {
  width: inherit;
}

.row .small_img:hover {
  transition: 0.3s;
  transform: scale(1.2);
  filter: grayscale(0.8);
  cursor: pointer;
}

/*configuração dos grids por elemento*/
.row:nth-child(0) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.row:nth-child(12) {
  grid-column: 4/5;
  grid-row: 1/2;
}

.modal {
  /*configuração do modal*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

/*conteúdo de dentro do modal */
#modal_img {
  width: 65vw;
}

/*botão "x"*/
#bt_close {
  color: white;
  background-color: #000000;
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 5px 10px;
  font-size: 25px;
  border: white solid 1px;
  cursor: pointer;
}

/*classe que será adicionada dinamicamente por JS*/
.modal_active {
  visibility: visible;
}

#contact-container {
  display: block;
  height: 100vh;
}
#contact-container .title-container .section-title-contact {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  font-family: "Quicksand";
  letter-spacing: 2px;
  margin-left: 7vw;
  margin-top: 15vh;
  padding: 0.5rem;
  border-left: #dce677 solid 3px;
  margin-top: 6vh;
}
#contact-container .principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-container .principal-container .formulario-container {
  width: 43vw;
  height: 60vh;
  background-color: #61876e;
  margin: 5vh 0vw 2vh 0;
  border-radius: 2% 0 0 2%;
}
#contact-container .principal-container .formulario-container form {
  text-align: center;
  padding: 7vh 0vw 0vh 0vw;
  justify-content: center;
}
#contact-container .principal-container .formulario-container form label {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  font-family: "Quicksand";
  letter-spacing: 2px;
  margin-left: 7vw;
  margin-top: 15vh;
  padding: 0.5rem;
  border-left: #dce677 solid 3px;
  font-size: 1.5rem;
  margin-left: -17vw;
}
#contact-container .principal-container .formulario-container form input#email {
  margin-top: 5vh;
  display: block;
  width: 30vw;
  margin-left: 7vw;
  margin-bottom: 2vh;
  height: 5vh;
}
#contact-container .principal-container .formulario-container form input#message {
  margin-top: 5vh;
  display: block;
  width: 30vw;
  margin-left: 7vw;
  margin-bottom: 2vh;
  height: 10vh;
}
#contact-container .principal-container .formulario-container form button {
  width: 150px;
  height: 40px;
  padding: 1vh;
  background-color: #A6BB8D;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  text-transform: uppercase;
}
#contact-container .principal-container .formulario-container form button:hover {
  color: white;
  transition: 0.4s;
  background-color: #346049;
  border: 1px solid rgb(255, 255, 255);
}
#contact-container .principal-container .formulario-container form button a {
  font-weight: 300;
  color: black;
  text-decoration: none;
  font-size: 12pt;
}
#contact-container .principal-container .formulario-container form button a:hover {
  color: white;
}
#contact-container .principal-container .img-contact-container {
  text-align: center;
  vertical-align: center;
  width: 43vw;
  height: 60vh;
  background-color: #A6BB8D;
  margin: 5vh 0vw 2vh 0vw;
  border-radius: 0px 2% 2% 0;
}
#contact-container .principal-container .img-contact-container .interior-designer {
  margin-top: 3vh;
  width: 80%;
  height: auto;
  border-radius: 2%;
}
#contact-container .social-media-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}
#contact-container .social-media-container #wpp-btn {
  width: 150px;
  height: 40px;
  padding: 1vh;
  background-color: #A6BB8D;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}
#contact-container .social-media-container #wpp-btn:hover {
  color: white;
  transition: 0.4s;
  background-color: #075037;
  border: 1px solid rgb(255, 255, 255);
}
#contact-container .social-media-container #wpp-btn a {
  font-weight: 300;
  color: black;
  text-decoration: none;
  font-size: 12pt;
}
#contact-container .social-media-container #wpp-btn a:hover {
  color: white;
}
#contact-container .social-media-container #linkedin-btn {
  width: 150px;
  height: 40px;
  padding: 1vh;
  background-color: #A6BB8D;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}
#contact-container .social-media-container #linkedin-btn:hover {
  color: white;
  transition: 0.4s;
  background-color: #084d91;
  border: 1px solid rgb(255, 255, 255);
}
#contact-container .social-media-container #linkedin-btn a {
  font-weight: 300;
  color: black;
  text-decoration: none;
  font-size: 12pt;
}
#contact-container .social-media-container #linkedin-btn a:hover {
  color: white;
}

@media (max-width: 620px) {
  .top-nav {
    justify-content: flex-start;
  }
  nav {
    display: none;
  }
  .brand {
    display: none;
  }
  .menu-toggle {
    position: absolute;
    width: 40px;
    left: 15px;
  }
  .menu-toggle .one,
.menu-toggle .two,
.menu-toggle .three {
    background-color: white;
    height: 3px;
    width: 100%;
    margin: 8px auto;
    transition-duration: 0.3s;
  }
  /*menu aberto*/
  .top-nav.on {
    position: absolute;
    top: 0;
    left: 5;
    width: 100vw;
    height: 100vh;
    background-color: #3C6255;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
  .top-nav.on nav { /*acesso ao elemento nav com o menu clicado*/
    display: block; /*menu é habilitado novamente por cima do menu clicado*/
    flex-direction: column;
  }
  .top-nav.on .menu-toggle { /*posicionamento do ícone*/
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .top-nav.on .menu-toggle .one { /*posicionamento das barras com o menu clicado*/
    transform: rotate(45deg) translate(7px, 7px);
  }
  .top-nav.on .menu-toggle .two {
    opacity: 0;
  }
  .top-nav.on .menu-toggle .three {
    transform: rotate(-45deg) translate(9px, -9px);
  }
  .top-nav.on nav li {
    margin: auto;
    width: auto;
  }
  .top-nav.on nav ul {
    margin: auto;
    display: block;
    text-align: center;
  }
  .top-nav.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1.5rem;
    line-height: 4rem;
  }
}/*# sourceMappingURL=style.css.map */